<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.apache.cordova.plugins.StatusBarNotification"
    version="0.0.1">

    <name>cordova-ext-statusbar</name>

    <asset src="www/statusbarnotification.js" target="statusbarnotification.js" />

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/cordova/plugins">
            <plugin name="StatusBarNotification"
                value="com.phonegap.plugins.statusBarNotification.StatusBarNotification"/>
        </config-file>
       
        <source-file src="src/android/StatusBarNotification.java"
          target-dir="src/com/phonegap/plugins/statusBarNotification" />
        <source-file src="src/android/StatusNotificationIntent.java"
          target-dir="src/com/phonegap/plugins/statusBarNotification" />
        <source-file src="src/android/drawable-hdpi/notification.png"
          target-dir="res/drawable-hdpi" />
        <source-file src="src/android/drawable-xhdpi/notification.png"
          target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/drawable-mdpi/notification.png"
          target-dir="res/drawable-mdpi" />

    </platform>
</plugin>

